body {
  background-color: #eee;
}

body, button, input, select, textarea {
  font-family: "source sans pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #394556;
  font-family: "fjalla one", sans-serif;
}

a, a:visited, a:hover, a:focus, a:active, header {
  color: #394556;
}

.logo {
  display: block;
  text-align: center;
}

.social-links {
  font-size: 200%;
  text-align: right;
}

.social-links i {
  margin-right: 1%;
}

.tagline {
  font-size: 85%;
  margin: 20px 0;
  text-align: center;
}

.separator {
  background-color: #f00;
  height: 80px;
  margin-left: 50%;
  width: 1px;
  vertical-align: top;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  text-align: center;
}

.learn-more {
  display: block;
  font-weight: bold;
  font-size: 130%;
  margin: 20px 0;
  text-align: center;
}

.slogan img {
  width: 100%;
}

article, #comments, footer {
  background-color: #fff;
  margin: 25px 0;
  padding: 50px 50px 50px 50px;
}

article h1, #comments h1, footer h1 {
  font-size: 150%;
  line-height: 1.5;
  margin: 0 0 25px 0;
}

article {
  padding-top: 20px;
  padding-bottom: 80px;
}

article, #comments {
  margin-top: 50px !important;
}

footer {
  margin-bottom: 50px !important;
}

article .entry-meta {
  padding-top: 25px;
}

article .entry-meta, article .entry-meta a {
  color: #f33;
  font-weight: bold;
}

article footer {
  display: none;
}

article p {
  margin-bottom: 20px;
}

article .pb-button {
  margin-top: 50px;
  margin-bottom: -25px;
}

footer div div {
}

footer form {
  margin-bottom: 25px;
}

footer input {
  border: 1px solid #f33;
  margin-bottom: 10px;
  outline: none;
  width: 99%;
}

.notice {
  border-left: 1px solid #394556;
  font-size: 120%;
  font-weight: bold;
  padding-left: 20px;
}

.copyleft {
  font-size: 80%;
  margin-top: 25px;
  text-align: right;
}

.pb-button, .pb-button:hover, .pb-button:active {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  background-color: #fff;
  background-image: url('imgs/button-bg.svg');
  background-repeat: no-repeat;
  background-position: 77% center;
  color: #fff !important;
  display: block;
  font-size: 90%;
  padding: 7px;
  width: 99%;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}
.pb-button a {
  color: #fff;
  text-decoration: none;
}




